<div class="parent-content">
  <div class="ui stackable grid">
    <div class="left-panel four wide column">
      <div class="top-header">
        Kids List
      </div>
      <div class="ui blue buttons">
        <button class="ui button" [routerLink]="['/parent/areas']">
          <i class="icon world"></i>
          Interes Areas
        </button>
      </div>
      <p>Your reference: <b>{{me.reference}}</b></p>
      <div class="item" *ngFor="let child of childs">
        <a class="ui tiny image">
          <img src="assets/images/boy.jpg" alt="boy">
        </a>
        <div class="content">
          <a class="header">{{ child.nume + " " + child.prenume}}</a>
          <div class="description">
            <button class="ui icon blue button" (click)="showHistory(child)">
              <i class="hourglass full icon"></i>
            </button>
            <button class="ui icon red button" (click)="deleteUser(child)">
              <i class="remove icon"></i>
            </button>
            <button class="ui icon green button" (click)="focusOnChild(child)">
              <i class="eye icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="false">
        <agm-marker *ngFor="let marker of markers"
                    [latitude]="marker.latitude"
                    [longitude]="marker.longitude"
                    [title]="marker.name"
                    [iconUrl]="marker.type == 'child' ? 'assets/images/child.png' : 'assets/images/parent.png'">
          <agm-info-window>
            <strong>{{marker.name}}</strong>
          </agm-info-window>
        </agm-marker>
        <agm-polyline *ngIf="historyPoints.length">
          <agm-polyline-point *ngFor="let point of historyPoints" [latitude]="point.latitude" [longitude]="point.longitude">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
  </div>
</div>
